body{
font-family: 'Lato', sans-serif;
width:100%;
}
a{
    text-decoration: none;
}

h2{
    margin-left: 8%;
}

h4{
    text-decoration: none;
    color: black;
}

p{
    font-size: 16px;
    line-height: 25px;
}

ul{
    font-size: 16px;
    line-height: 25px;
}

.empty{
height: 20px;
}

 .black-top{
    background-color: #2d2d2d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

.top-social{
    margin: 0 5% 0 0;
    color: white;
}

.social{
    font-size: 25px;
}

.social-box{
   margin-left: 15px;

}

button {
    background-color: #283fe5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 17px -5px rgba(102,102,102,1);
    -moz-box-shadow: 3px 4px 17px -5px rgba(102,102,102,1);
    box-shadow: 3px 4px 17px -5px rgba(102,102,102,1);
  }
button:hover{
    background-color: #54C5D2;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

 

.topPage{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.logo-box{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.logo{
    background-image: url(../Images/Name\ logo-01.png);
    height:60px;
    width: 450px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    
}

.title{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #283fe5;
    align-self: center;
}

.topNav{
    font-size: 15px;
    align-self: flex-end;
    padding-top:10px;
    padding-bottom:20px;
    margin-right: 2%;
}

.home, .port, .about,.blog, .video {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:30px;
    text-decoration: none;
    color: black; 
}

.home:hover, .port:hover, .about:hover,.blog:hover, .video:hover {
    color: #54C5D2;
}
.style1{
    background-color: black;
    height: 2px;
    margin: 10px;
    width: 40%;
    margin: 0 auto;
   
}

.hero-image{
    background-image: url(../Images/Hero\ 2.png);
    margin-top: 0px;
    height: 500px;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.hero-text{
    padding: 30px;
    margin-right:10%;
    border-radius: 15px;
}

h1{
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 0px 4px 5px #444444;
}

.subtitle{
 font-size: 20px;
 font-weight: 300;
 margin-top: -20px;
 margin-bottom:30px;
 color: white;
}

.grid{
    display:grid;
    margin:2% 15% 2% 15%;
    padding: 10px;
    gap: 50px;
    grid-template-columns: 50% 50%;
    align-content: center;
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:300px;
    text-align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 0.5;

  }
  

  .one{
      background-image: url(../Images/Untitled.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-content: center;
      height:230px;    
      width: 100%;
  }

  .two{
    background-image: url(../Images/Outer\ Reach.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    height:230px;    
    width: 100%;
}

.three{
    background-image: url(../Images/TXPRT.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    height:230px;    
    width: 100%;
}

.four{
    background-image: url(../Images/DOed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    height:230px;    
    width: 100%;
}

  .text-overlay{
    font-family: 'Abel', sans-serif; 
  }

.aboutMe{
    background-image: url(../Images/Pic.png);
    margin-top: 10px;
    height: auto;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.about-text{
    margin-left: 8%;
    margin-right: 53%;
    color: black;
    text-align:left;
}

.about-text2{
    margin-left: 8%;
    margin-right: 53%;
    color: black;
    text-align:left;
}


.fun-facts{
    display:flex;
   justify-content: flex-start;
   margin-left: 9%;
}

.factBox{
    width: 120px;
    height: 80px;
    margin-left: 5px;
    background-color: lightskyblue;
    text-align: center;
    position: relative;
    border-radius: 5px;
    
}

.factBox p{
  margin: 0;
  font-size:14px;
  position: absolute;
  line-height:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills{
    display:flex;
   justify-content: flex-start;
   margin-left: 9%;
   padding-bottom:100px;
}

.skillBox{
    width: 100px;
    height: 50px;
    margin-left: 5px;
    padding: 10px;
    background-color:gray;
    text-align: center;
    position: relative;
    border-radius: 5px;
    
}

.skillBox p{
  margin: 0;
  position: absolute;
  line-height:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom:5%;
}

.about-header{
    font-family: 'Abel', sans-serif; 
    font-weight: 900;
    font-size:28px;
    color: black;
}

.blogCard{
    margin: 0% 10% 0% 10%;
    Height:400px;
    background-image: url(../Images/hand.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.4);
}

.blogCard-text{
    margin-right:10%;
    margin-bottom: 150px;
    
}

footer{
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #2d2d2d;
    margin-top: 70px;
    padding-bottom: 30px;
    padding-top:50px;
}

form{
flex-grow: 2;
}

.contact-info{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 25% 5% 25%;
    color: white;
}

.fa{
    color: white;
    text-decoration: none;
}

.social-box2{
padding-left: 10px;
}

.title-foot{
    font-weight: 900;
    color: #54C5D2;
    font-size: 35px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-bottom: -8px;
}

.contact-info{
    margin-top: 8px;
    margin-bottom: -8px;
}

.contact-stuff {
    font-weight: 400;
    font-size: 20px;
}

form{
    margin: 0 25% 0 25%;
    border: 2px solid white;
}

.form-style-1 {
    border: 2px soild white;
    margin:10px auto;
    max-width: 600px;
    padding: 20px 12px 10px 20px;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    color: white;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background:  #283fe5;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #54C5D2;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.foot-line{
    background-color: white;
    margin:20px auto;
    width: 90%;
    height: 1px;
}

.codedWithLove{
    color: white;
    margin-left: 5%;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .about-text2{
        display: none;
    }
    
  }

@media only screen and (max-width: 600px) {
    .aboutMe{
       display: none;
    }
    .grid{
        display:grid;
        margin:2% 15% 2% 15%;
        padding: 10px;
        gap: 50px;
        grid-template-columns: 100%;
        align-content: center;
  }

  .contact-info{
    margin-top: 8px;
    margin-bottom: 5px;
    display: flex;
    flex-direction:column;
    align-content: center;

}
#social{
    margin-top:10px;
}

.contact-stuff{
    align-self: center;
}

.fa{
   padding-left: 10px; 
   padding-right: 10px;
}

.line{
    display: none;
}

form{
    margin: 0 20px 0 20px;
    border: 2px solid white;
}

